<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--<meta charset="ISO-8859-1">--><meta charset="UTF-8">
<title>Facturas</title>
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
	
	<div class="container mt-4">
		<br>
		<h2>
			Facturas <span th:text="*{anyo}"/>
		</h2>
	    
        <div th:each="mes:${meses}">
        	<a th:href="@{/facturas/descarga/{year}/{month}(year=${anyo},month=${mes})}"><span th:text="*{mes}"/></a>
        </div>
        
        <br/>
        <a href="/facturas" class="btn btn-primary">Volver</a>
	
	</div>
	
</body>
</html >
