<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--<meta charset="ISO-8859-1">--><meta charset="UTF-8">
<title>Facturas</title>
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
	
	<div class="container mt-4">
		<br>
		<h2>
			Facturas
		</h2>
		
		<form id="facturasForm" method="POST" th:action="@{/facturas}">
			<input type="date" name="fecha" required/> 
            <button type="submit" class="btn btn-success">Generar facturas</button>
        </form>
        
        <div th:if="${facturas > 0}">
        	Se han creado <span th:text="${facturas}"></span> facturas 
        	<form id="descargasForm" method="POST" th:action="@{/facturas/descarga}">
				<!--input type="hidden" name="fecha" th:field="{fecha}"/--> 
            	<!--<button type="submit" class="btn btn-success">Descargar</button>--> 
        	</form>
        </div>
		
		<!--f-orm id="testForm" method="POST" th:action="@{/facturas/test}">
            <button type="submit" class="btn btn-success">Test</button>
        </form>
        
        <a href="/facturas/test/descarga">Ver resultado</a-->
        
        <p></p>
        <a href="/volver" class="btn btn-primary">Volver</a>
        
        <p></p>
        <h3>
        	Facturas guardadas
        </h3>
        
        <div th:each="anyo:${anyos}">
        	<a th:href="@{/facturas/descarga/{year}(year=${anyo})}"><span th:text="*{anyo}"/></a>
        </div>
	
	</div>
	
</body>
</html >
