<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--<meta charset="ISO-8859-1">--><meta charset="UTF-8">
<title>Menus</title>
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
	
		<div class="container mt-4">
		<br>
		  <h2 th:if="${menus.isEmpty()}">
			No hay menus</h2>
		<div th:if="${!menus.isEmpty()}">
 		 <h2 align="center">
 		 Mantenimiento de Menus</h2>
 		 <span class="has-error" th:text="${error}"></span>
		<br>
			<table class="table">
				<thead>
					<tr>
						<!--<th>MENU</th>-->
						<th>PRECIO</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="menu:${menus}">
						<!--<td th:text="${menu.id}"></td >-->
						<td th:text="${menu.precio}"></td >
						<td><a class="btn btn-info" th:href="@{/saveMenu/{id}(id=${menu.id})}">Editar</a></td>
                        <td><a class="btn btn-danger" th:href="@{/deleteMenu/{id}(id=${menu.id})}">Eliminar</a></td>
					</tr >
				</tbody>
			</table >
			
		</div >
		<br>
  <div>
   <a href="/saveMenu/0" class="btn btn-primary">Agregar</a>
   <a href="/volver" class="btn btn-primary">Volver</a>
  </div>
</div>
	
</body>
</html >