<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Log in</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--<link href="/css/main.css" rel="stylesheet">-->
      
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body>

  
    <div class="container">
      <form class="form-signin" method="POST" th:action="@{/login}">
        <h2 class="form-heading" align="center">Inicia sesión - El Puchero</h2>

        <div class="form-group">
            <span th:text="${message}"></span>
            <input name="username" type="text" class="form-control" placeholder="Username"
                   autofocus="true"/>

            <input name="password" type="password" class="form-control" placeholder="Password"/>
            <span class="has-error" th:text="${error}"></span>

            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
            <!--<h4 class="text-center"><a href="/registration">Create an account</a></h4>-->
            
        </div>
      </form>
      
      <form action="listarPrueba" method="GET">
       <!--<a href="listar">listar</a>-->
      </form >
      
    </div>
    
    
    
  </body>
</html>