<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--<meta charset="ISO-8859-1">--><meta charset="UTF-8">
<title>Contraseña</title>
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
	
	<div class="container mt-4">
		<br>
		<h2>
			Generar contraseñas
		</h2>
		
		<form id="facturasForm" method="POST" th:action="@{/pwd}">
			<input name="pwd" type="password" placeholder="contraseña" style="width: 80%;"/>
            <button type="submit" class="btn btn-success">Generar</button>
        </form>
        
        <div th:if="${pwd}">
        	Contraseña: <span th:text="${pwd}"></span>
        </div>
	
	</div>
	
</body>
</html >
