<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Clientes</title>
 
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<script>
		function comprobarValores() {
			if(document.getElementById("menu.id").value==0) {
				alert("Por favor, elige un menú");
				return false;
			}
			if(document.getElementById("zona.id").value==0) {
				alert("Por favor, elige una zona");
				return false;
			}	
			if(isNaN(document.getElementById("telefono").value)) {			
				alert("Por favor, el telefono debe ser numerico");
				return false;
			}
		}
	</script>
	
</head>
<body>

	<div class="container">
	  	<br/>
	  	<h2 th:if="${cliente.id}">
	  		Modificar Cliente
		</h2>
	  	<h2 th:unless="${cliente.id}">
			Agregar Cliente
		</h2 >
	
		<form name="saveForm" action="#" th:action="@{/save}" th:object="${cliente}" method="post">
		
			<input type="hidden" th:field="*{id}" name="id" id="id">
		
	   		<div class="form-group">
	    		<label>Nombre</label> 
	    		<input type="text" class="form-control" id="name" th:field="*{name}" name="name" required>
	    		<br/>
	   		</div>
	   		
	  		<div class="form-group">
	    		<label>Dirección</label> 
	    		<input type="text" class="form-control" id="direcion" th:field="*{direcion}" name="direcion" required>
	    		<br/>
	   		</div>
	   		
			<div class="form-group">
	    		<label>Teléfono</label> 
	    		<input type="text" class="form-control" id="telefono" th:field="*{telefono}" name="telefono">
	    		<br/>
	   		</div>
	   		
	   		<div class="form-group">
	    		<label>Menú</label>
		    	<select class="form-control" th:field="*{menu.id}">
		   			<option value="0">Elegir menú</option>
		   			<option th:each="menu : ${menus}" th:value="${menu.id}" th:text="${menu.precio}"></option>
		   		</select>
	   			<br/>
	   		</div>
	   		
	   	
	   		<div class="form-group">
	   			<label>Días de la semana</label>
	   			<br/>
	   			
	   			<table style="width: 100%; table-layout: fixed;">
	   				<tr>
	   					<td>
				   			<label> Lunes <input th:checked="${cliente.l}" id="l" name="l" type="checkbox" value="1"/></label>
				   			<input name="l" type="hidden" value="0"/>
	   					</td >
				   			
	   					<td>
				   			<label> Martes <input th:checked="${cliente.m}" id="m" name="m" type="checkbox" value="1"/></label>
				   			<input name="m" type="hidden" value="0"/>
	   					</td>
				   			
	   					<td>
				   			<label> Miércoles <input th:checked="${cliente.x}" id="x" name="x" type="checkbox" value="1"/></label>
				   			<input name="x" type="hidden" value="0"/>
	   					</td>
				   			
	   					<td>
				   			<label> Jueves <input th:checked="${cliente.j}" id="j" name="j" type="checkbox" value="1"/></label>
				   			<input name="j" type="hidden" value="0"/>
	   					</td>
				   			
	   					<td>
				   			<label> Viernes <input th:checked="${cliente.v}" id="v" name="v" type="checkbox" value="1"/></label>
				   			<input name="v" type="hidden" value="0"/>
	   					</td>
				   			
	   					<td>
				   			<label> Sábado <input th:checked="${cliente.s}" id="s" name="s" type="checkbox" value="1"/></label>
				   			<input name="s" type="hidden" value="0"/>
	   					</td>
				   			
	   					<td>
				   			<label> Domingo <input th:checked="${cliente.d}" id="d" name="d" type="checkbox" value="1"/></label>
				   			<input name="d" type="hidden" value="0"/>
	   					</td>
	   				</tr>
	   			</table >
	   			
	   			<br/>
	   		</div>
	   		
	      	<div class="form-group">
	   			<label>Detalles</label>
	   			<br/>
	   			
	   			<table style="width: 100%; table-layout: fixed;">
	   				<tr>
	   					<td>
				   			<label> Sal <input th:checked="${cliente.sal}" id="sal" name="sal" type="checkbox" value="1"/></label>
				   			<input name="sal" type="hidden" value="0"/>
	   					</td>
				   			
	   					<td>
				   			<label> Diabético <input th:checked="${cliente.diabetico}" id="diabetico" name="diabetico" type="checkbox" value="1"/></label>
				   			<input name="diabetico" type="hidden" value="0"/>
	   					</td>
				   			
	   					<td>
				   			<label> Triturado <input th:checked="${cliente.triturado}" id="triturado" name="triturado" type="checkbox" value="1"/></label>
				   			<input name="triturado" type="hidden" value="0"/>
	   					</td >
	   					
	   					<!-- Ponemos más columnas para que se parezca a los días de la semana -->
	   					<td></td>
	   					<td></td>
	   					<td></td>
	   					<td></td>
	   				</tr>
	   			</table>
	   			<br/>
	   		</div>
	   		
	   		<div class="form-group">
	    		<label>Caracteristicas</label> 
	    		<input type="text" class="form-control" id="caracteristicas" th:field="*{caracteristicas}" name="caracteristicas">
	    		<br/>
	   		</div>
	   		
	      	<div class="form-group">
	    		<label>Pago</label> 
	    		<input type="text" class="form-control" id="tipo_pago" th:field="*{tipo_pago}" name="tipo_pago">
	    		
	   			<br/>
	   		</div>
	
	    	<div class="form-group">
	     		<label>Zona</label>
		    	<select class="form-control" th:field="*{zona.id}">
		   			<option value="0">Elegir zona</option>
		   			<option th:each="zona : ${zonas}" th:value="${zona.id}" th:text="${zona.name}"></option>
		   		</select>
	   			<br/>
			</div>
	   
			<button class="btn btn-success" onClick="return comprobarValores();">Guardar</button>
			<a href="/listar" class="btn btn-primary">Volver</a>
		</form >
	</div>
	
	
</body>
</html>
